/* Variables */
:root{
    --primary: hsl(322, 100%, 66%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* Font */

h2{
  font-family: 'Poppins', sans-serif;
  
}
p, a, h4{
  font-family: 'Open Sans', sans-serif;
}
a{
  font-weight: 700;
  font-size: small;
}
.copy p{
  font-family: 'Poppins', sans-serif;
}



/* Reset */
body,p,a,ul,li{
 margin: 0;
 padding: 0;
 text-decoration: none;
}

li {
  list-style-type: none;
}

/* Color */
header{
  background-color: hsla(192, 100%, 96%, 0.651);
  
}
footer{
  background-color: hsl(192, 100%, 9%);
}
footer p, .about a, .social i{
  color: white;
}
.headbutton{
  color:black;
}
#footlogo{
  filter: invert(42%) sepia(93%)  brightness(5) contrast(119%);
}
.secp p{
  color: hsl(208, 11%, 55%);
}
.headbutt a{
color: white;
}


/* base */

footer{
  padding: 0px  20px;
  padding-top: 130px;
}

.details{
  padding: 20px 0px;
}
.details p{
  padding: 10px 20px;
  
  }
  
.details li{
display: flex;
align-items: baseline;
}




.headbutt{
  margin: 35px 0px;
  display: flex;
  justify-content: center;
  
}
 .headbutt a{
  background-color: var(--primary);
  padding: 15px 50px;
  border-radius: 50px;

 }

footer img{
  width: 15px;
 
}
header img{
  width: 100%;
}

#logo{
  width: 40%;
}
#footlogo{
  width: 50%;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header{

  padding: 30px;

}
.headsec{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 10px;
  
}
.head a{
  display: flex;
  justify-content: center;
 background-color: white;
 padding: 10px 20px;
 width: 7em;
 font-size: 11px;
 border-radius: 10px;
}
.secp{
padding: 50px;
text-align: center;
}
.insidesec{
  padding: 20px 0px;
}
.secp img{
  width: 90%;
}
.near-footer{
  padding: 20px 5px;
  text-align: center;
  border-radius: 20px;
  margin: 0 15px;
  background-color: white;
  position: relative;
  top: 80px;
  
}
.near-footer h4{
  font-size: larger;
}
.about li{
  padding: 10px 0px;
}
.about a{
  font-size: large;
  font-weight: 400;
}
.about{
  padding: 20px 0;
}
.social{
 width: 50%;
 margin: 0 auto;
 padding: 30px 0;

}
.social ul{
display: flex;
justify-content: center;
justify-content: space-evenly;

}
.copy{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.copy p{
  font-size: small;
}


/* Mobile Breakpoint */

@media screen and (min-width: 370px) {
  header{
    background-image: url('bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
    
}

/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
      #logo, #footlogo{
        max-width: 20%;
      }
      #footlogo{
        max-width: 30%;
      }
      h1,h2,h3,h4,h5,h6{
        font-size: 2em;
      }
      .headsec{
        padding: 20px 30px;
      }
      .headsec p{
        max-width: 80%;
        font-size: 1.2em;
        margin: 0 auto;
      }
      .headbutt a{
        font-size: 1.1em;
      }
      .headimg{
        display: flex;
        justify-content: center;
      }
      header img{
        width: 80%;
        
      }
      .secp:nth-child(even){
      display: flex;
      flex-direction: row-reverse;
        
      }
      .secp:nth-child(odd){
        display: flex;   
        }
        
      .secp img{
        width: 50%;
      }
      .secp {
      text-align: left;
      }
      .insidesec{
        padding: 0px 20px;
      }
      .location p{
        max-width: 60%;
      }
      .head a{
        font-size: 16px;
        
      }
  }

  /* PC Breakpoint */
  @media screen and (min-width: 1024px) {
    header{
      background-image: url('bg-hero-desktop.svg');
      background-repeat: no-repeat;
      background-size: cover;
     
    }
    .main-heads{
      display: flex;
      margin: 40px 0;
      justify-content: center;
    }
    .headsec {
    text-align: initial;
    width: 40%;
    flex-direction: column;
    margin: 0;
    padding: 0px 10px;
    padding-top: 30px;
    
    }
    
    .headbutt{
      display: initial;
      padding: 10px 0;
    }
    .headbutt a{
      padding: 20px 50px;
    }
    .headsec h2{
      font-size: 40px;
      max-width: 500px;
    }
 
    .headsec p{
      margin: 0px;
      max-width: 500px;
     
    }
    .headimg{
      justify-content: initial;
      width: 40%;
      
    }
    .headimg img{
      width: 100%;
    }

    #logo{
      max-width: 12em;
      
    }
    #footlogo{
      width: 20%;
    }
    header{
     
    }
    .head{
      justify-content: space-around;
      gap: 65%;
    }
    .secp {
      padding: 50px 100px;
      margin: 0px;
      justify-content: center;
    }
   .insidesec{
    align-self: center;
    padding: 0px 100px;
   }
    .secp img{
       width: 30%;
    }
    .secp p{
      max-width: 400px;
    }
    
    @media screen and (min-width: 1366px) {
      .head{
        gap: 75%;
      }
    }
      .headsec{
       
      }
  }